@using FluentMysql.Infrastructure.Entities
@model FluentMysql.Site.Areas.Admin.ViewsData.Usuario.AlteraForm
@{
    ViewBag.Title = "Altera Usuário";
}
@section styles{

}
@section scripts{
    @Scripts.Render("~/Scripts/Areas/Admin/usuario.altera.min.js")
}
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <h2 class="text-center">
                <i class="fa fa-users"></i>
                @ViewBag.Title
            </h2>
            @Html.Partial("_AlteraForm", Model)
        </div>
    </div>
</div>