@{
    ViewBag.Title = "Página não encontrada";
}
@section styles{
    @Styles.Render("~/Content/Areas/Admin/error.404.min.css")
}
<div class="container">
    <h1 class="text-center">
        <i class="fa fa-exclamation-triangle"></i>
        Página não encontrada!
    </h1>
    <p class="text-center">O link solicitado não pode ser encontrado.</p>
</div>