@{
    ViewBag.Title = "404 - Not Found";
    Exception exception = null;
    if (ViewBag.Exception != null)
    {
        exception = (Exception)ViewBag.Exception;
        ViewBag.Title = string.Format("{0} - {1}", Response.StatusCode, Response.StatusDescription);
    }
}

<div class="container">
    <h2 class="text-center">@ViewBag.Title</h2>
    @if (exception != null)
    {
        <h3>Menssagem</h3>
        <pre>@exception.Message</pre>
    }
    else
    {
        <h3 class="text-center">Ocorreu um erro ao acessar o sitema.</h3>
    }
</div>
