
@{
    ViewBag.Title = "Acesso";
}

<div class="container text-center">
    <h2>@ViewBag.Title</h2>
    <p class="glyphicon glyphicon-alert fa-5x"></p>
    <p class="text-muted fa-2x">Seu usuário não tem acesso a página solicitada.</p>
</div>

