@using FluentMysql.Infrastructure.Entities
@model FluentMysql.Site.Areas.Admin.ViewsData.MinhaConta.AlterarDadosForm
@{
    Usuario minhaConta = (Usuario)ViewBag.MinhaConta;
    ViewBag.Title = "Minha Conta";
}


<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <h2 class="text-center">
                <i class="fa fa-users"></i>
                @ViewBag.Title
            </h2>
            @Html.Partial("_IndexForm", Model)
        </div>
    </div>
</div>