<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Autenticar E-mail</title>
</head>
<body>
    <h2>Olá <strong>{Nome}</strong>,</h2>
    <p>Essa mensagem foi enviada para autenticar o seu novo e-mail de acesso ao ssitema.</p>
    <p>Caso não tenha realizado essa solicitação não se preocupe pois ainda será necessário confirmar sua senha para concluir a alteração.</p>
    <p><a title="clique aqui para alterar seu e-mail" href="{link}">Clique aqui</a> para alterar seu e-mail de acesso ou acesse a URL abaixo:</p>
    <p><a title="clique aqui para alterar seu e-mail" href="{link}">{link}</a></p>
    <p>Att,</p>
    <p>
        {empresa} <br />
        <a title="clique aqui para acessar o site" href="{site}">{site}</a>
    </p>
    <p><small>Não responda esse e-mail que foi enviado automaticamente.</small></p>
</body>
</html>
