<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Solicitar Autenticação do Usuário</title>
</head>
<body>
    <h2>Olá <strong>{Nome}</strong>,</h2>
    <p>Foi solicitado pelo sistem o envido de seu login de acesso.</p>
    <p>Caso não tenha realizado essa solicitação não se preocupe pois somente seu e-mail associado a sua conta receberá essa mensagem.</p>
    <p>Login: <strong>{login}</strong></p>
    <p>Att,</p>
    <p>
        {empresa} <br />
        <a title="clique aqui para acessar o site" href="{site}">{site}</a>
    </p>
    <p><small>Não responda esse e-mail que foi enviado automaticamente.</small></p>
</body>
</html>
