<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Solicitar Autenticação do Usuário</title>
</head>
<body>
    <h2>Olá <strong>{Nome}</strong>,</h2>
    <p><a title="clique aqui para autenticar sua conta" href="{link}">Clique aqui</a> para autenticae sua conta de acesso ou acesse a URL abaixo:</p>
    <p><a title="clique aqui para autenticar sua conta" href="{link}">{link}</a></p>
    <p>Att,</p>
    <p>
        Sistema <br />
        <a title="clique aqui para acessar o site" href="{site}">{site}</a>
    </p>
    <p><small>Não responda esse e-mail que foi enviado automaticamente.</small></p>
</body>
</html>
